      <h2>ORDERS</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">User Name</th>
              <th scope="col">Created</th>
              <th scope="col">Address</th>
              <th scope="col">Payment</th>
              <th scope="col">Amount</th>
              <th scope="col">Product</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
              {{#each allOrders}}
            <tr>
              <td>{{this.userName}}</td>
              <td>{{this.Date}}</td>
              <td>{{this.deliveryDetails.mobile}},{{this.deliveryDetails.address}},{{this.deliveryDetails.pincode}}</td>
              <td>{{this.paymentMethod}}</td>
              <td>{{this.totalAmount}}</td>
              <td><a href="/admin/admin-product-details/{{this._id}}" class="btn btn-primary btn-sm">Details</a></td>
              <td>
                <select onchange="deliveryStatusUpdate(value,'{{this._id}}')">
                  <option value="{{this.status}}" selected disabled>
                    {{this.status}}
                  </option>
                  <option value="Pending" >
                    Pending
                  </option>
                  <option value="Placed">
                    Placed
                  </option>
                  <option value="Packed">
                    Packed
                  </option>
                  <option value="Shipped">
                    Shipped
                  </option>
                  <option value="Delivered">
                    Delivered
                  </option>
                  <option value="Cancelled">
                    Cancelled
                  </option>
                </select>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>

function deliveryStatusUpdate(value,orderId){
    swal({
        title: "Are you sure To Change Order Status ?",
        icon: 'warning',
        buttons: true,
        dangerMode:true,
    }).then((willChange)=>{
        if(willChange){
        $.ajax({
            url: '/admin/status-update',
            method: 'post',
            data:{
                status: value,
                orderId: orderId,
            },
            success:(resp)=>{
                swal('Status Updated Successfully',{
                icon: "success",
              })
            }
        })
        }
    })
}

</script>