{{#if products}}
<main class="main">
  <div class="page-header text-center" style="background-image: url('/assets/images/page-header-bg.jpg')">
    <div class="container">
      <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
      </ol>
    </div><!-- End .container -->
  </nav><!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="cart">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <table class="table table-cart table-mobile">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Quantity</th>

                  <th></th>
                </tr>
              </thead>

              <tbody>
                {{#each products}}
                <tr>
                  <td class="product-col">
                    <div class="product">
                      <figure class="product-media">
                        <a href="#">
                          <img src="/product-image/{{this.product._id}}/{{this.product.imageId}}_1.jpg"
                            alt="Product image">
                        </a>
                      </figure>

                      <h3 class="product-title">
                        <a href="#">{{this.product.Name}}</a>
                      </h3><!-- End .product-title -->
                    </div><!-- End .product -->
                  </td>
                  <td class="price-col">₹{{this.product.Price}}</td>
                  <td class="quantity-col">
                    <div class="cart-product-quantity">
                      <div class="d-flex">
                        <button class="btn btn-link "
                          onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">
                          <i class="fas fa-minus"></i>
                        </button>


                        <span id="{{this.product._id}}" class="form-control form-control-sm">{{this.quantity}}</span>

                        <button class="btn btn-link "
                          onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                    </div><!-- End .cart-product-quantity -->
                  </td>

                  <td class="remove-col"><button class="btn-remove"
                      onclick="removeCartProduct('{{this._id}}','{{this.product._id}}')"><i
                        class="icon-close"></i></button></td>
                </tr>
                {{/each}}
              </tbody>
            </table><!-- End .table table-wishlist -->

            <div class="cart-bottom">

              <a href="/cart" class="btn btn-outline-dark-2"><span>UPDATE CART</span><i class="icon-refresh"></i></a>
            </div><!-- End .cart-bottom -->
          </div><!-- End .col-lg-9 -->
          <aside class="col-lg-3">
            <div class="summary summary-cart">
              <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

              <table class="table table-summary">
                <tbody>
                  <tr class="summary-subtotal">
                    <td>Subtotal:</td>
                    <td id="total">₹{{this.total}}</td>
                  </tr><!-- End .summary-subtotal -->

                  <tr class="summary-total">
                    <td>Total:</td>
                    <td>₹{{this.total}}</td>
                  </tr><!-- End .summary-total -->
                </tbody>
              </table><!-- End .table table-summary -->

              <a href="/checkout" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
            </div><!-- End .summary -->

            <a href="/" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i
                class="icon-refresh"></i></a>
          </aside><!-- End .col-lg-3 -->
        </div><!-- End .row -->
      </div><!-- End .container -->
    </div><!-- End .cart -->
  </div><!-- End .page-content -->
</main><!-- End .main -->
{{else}}
<div class="container-fluid mt-100">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5>Cart</h5>
        </div>
        <div class="card-body cart">
          <div class="col-sm-12 empty-cart-cls text-center">
            <h3><strong>Your Cart is Empty</strong></h3>
            <h4>Add something to make me happy :)</h4> <a href="/" class="btn btn-primary cart-btn-transform m-3"
              data-abc="true">continue shopping</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}


<script>
  function changeQuantity(cartId, proId, userId, count) {
    let quantity = parseInt(document.getElementById(proId).innerHTML)
    count = parseInt(count)

    $.ajax({
      url: '/change-product-quantity',
      data: {
        user: userId,
        cart: cartId,
        product: proId,
        count: count,
        quantity: quantity
      },
      method: 'post',
      success: (response) => {
        if (response.removeProduct) {
          alert('product removed from cart')
          location.reload()
        } else {
          document.getElementById(proId).innerHTML = quantity + count;
          document.getElementById('total').innerHTML = response.total
        }
      }
    })
  }

  function removeCartProduct(cartId, proId) {
    $.ajax({
      url: '/remove-cart-product',
      data: {
        cart: cartId,
        product: proId
      },
      method: 'post',
      success: (response) => {
        if (response) {
          alert('product removed from cart')
          location.reload()
        }
      }
    })
  }


</script>