<div class="container-xl px-4 mt-4">

    <nav class="navbar navbar-lg navbar-light bg-light">
        <div class=" d-flex align-items-center justify-content-end">
            <a class="nav-item nav-link link-dark active" href="/my-profile">Profile<span
                    class="sr-only">(current)</span></a>
            <a class="nav-item nav-link link-dark" href="/my-address">Addresses</a>
            <a class="nav-item nav-link link-dark" href="/my-orders">My orders</a>

        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade  active show" id="addresses" role="tabpanel"
                            aria-labelledby="addresses-tab">
                            <h4 class="font-weight-bold mt-0 mb-4">Manage Addresses</h4>
                            <a class="float-end" href="/add-address">Add address</a>
                            {{#if addressMsg}}
                            <span class="text-success">{{addressMsg}}</span>
                            {{/if}}
                            <div class="row pt-2 pb-2">
                                {{#each addresses}}
                                <div class="col-md-6">
                                    <div class="bg-white card addresses-item mb-4  shadow-sm">
                                        <div class="gold-members p-4">
                                            <div class="media">
                                                <div class="mr-3"><i class="icofont-location-pin icofont-3x"></i></div>
                                                <div class="media-body">
                                                    <h6 class="mb-1">{{this.address.type}}</h6>
                                                    <p>{{this.address.name}},{{this.address.mobile}},{{this.address.address}},{{this.address.pincode}}
                                                    </p>
                                                    <p class="mb-0 text-black font-weight-bold"><a
                                                            class="text-primary mr-3" 
                                                            href="/edit-address/{{this.address.addressId}}"><i
                                                                class="icofont-ui-edit"></i> EDIT</a> <a
                                                            class="text-danger" 
                                                            href="/delete-address/{{this.address.addressId}}"><i
                                                                class="icofont-ui-delete"></i> DELETE</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    .img-account-profile {
        height: 10rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

    .card .card-header {
        font-weight: 500;
    }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control,
    .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }




    a:hover {
        text-decoration: none;
    }
</style>