<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center text-dark mt-3">Otp Login</h2>
      {{#if otpErr}}
      <p class="text-center mb-5 text-danger">{{otpErr}}</p>
      {{/if}}
      {{#if reotp}}
      <p class="text-center mb-5 text-danger">{{reotp}}</p>
      {{/if}}
      
      <div class="card my-5">

        <form class="card-body cardbody-color p-lg-5" action="/otpSubmit/{{otpPhone}}" method="post">

          <div class="text-center">
            <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png"
              class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px" alt="profile">
          </div>

          <p class="text-dark">OTP send to mobile {{otpPhone}}</p>
          <div class="mb-3">
            <input type="number" class="form-control" id="Username" aria-describedby="emailHelp" placeholder="otp"
              name="otp">
          </div>
          <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">submit otp</button></div>
          <a href="/resendOtp/{{otpPhone}}">resend otp</a><br>
        </form>
      </div>

    </div>
  </div>
</div>

<style>
  .btn-color {
    background-color: #0e1c36;
    color: #fff;

  }

  .profile-image-pic {
    height: 200px;
    width: 200px;
    object-fit: cover;
  }



  .cardbody-color {
    background-color: #ebf2fa;
  }

  a {
    text-decoration: none;
  }
</style>