<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
        {{#each products}}
      <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">Today's Combo Offer</p>
            <div
              class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
              style="width: 35px; height: 35px;">
              <p class="text-white mb-0 small">x4</p>
            </div>
          </div>
          <img src="/product-image/{{product._id}}/{{product.imageId}}_1.jpg"
            class="card-img-top" alt="Laptop" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a href="#!" class="text-muted">{{product.Category}}</a></p>
              <p class="small text-danger"><s>${{product.originalPrice}}</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">{{product.Name}}</h5>
              <h5 class="text-dark mb-0">${{product.Price}}</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">quantity: <span class="fw-bold">{{this.quantity}}</span></p>
              <div class="ms-auto text-warning">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>